.formu textarea {
    width: 596px;
    border-radius: 20px;
    padding: 15px;
    font-size: 15px;
    background-color: rgb(60, 51, 103);
    color: #fff;
}

::-webkit-input-placeholder {
    color: gray;
}