.contacto{                  
    padding: 50px;
}
.contacto .contenido-seccion{     /*cambia la ubicación de los elementos*/
    max-width: 1100px;
	margin: auto;
    text-align: center;
}
.contacto .contenido-seccion .bloque{
    display: flex;
    justify-content: space-between;
}
.contacto .contenido-seccion h2{               
    font-size: 48px;
    font-family: 'Gruppo';
    text-align: center;
    padding: 20px;
}
.bloque {
    padding: 20px 0 50px;
}
.bloque .ubicacion, .social, .mail{ 
    margin: auto;
    display: flex;
  /*  box-sizing: border-box; */ 
}
.bloque span {
    width: 300px; 
    height: 115px; 
    background-color: rgba(60, 51, 103, 0.2);
    border-radius: 25px;
    padding: 20px;
    color: white;
    margin: auto;
    line-height: 20px;
    align-items: center;
    /*box-shadow: rgba(59, 79, 207, 0.5) 0px 1px 2px 0px; efecto para que tengan sombra las tarjetas*/ 
}
.bloque .fa-solid, .fa-regular{
    font-size: 25px;
    color: rgba(59,79,207, 1);
}
.bloque .fa-brands {
    font-size: 22px;
    color: white;
}
.bloque .fa-brands a:visited {
  color: none;
}

.contacto input, .contacto textarea{   /* modifica el formatodiseño de los cuadros de relleno de contacto */
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    margin-right: 350px;
    background-color: rgb(60, 51, 103);
    border-radius: 17px;
    color: #fff;
    font-size: 18px;
}

.contacto button{               /* modifica el formato/diseño del botón enviar +*/
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 12px 20px;
    font-size: 18px;
    color: #fff;
    position: relative;
    z-index: 10;
    font-family: 'century gothic';
}
.contacto button:hover{
    font-size: 20px;
    border: 3px solid rgba(59,79,207, 1);
    color: rgba(59,79,207, 1);
    font-weight: bold;

}