<section id="contacto" class="contacto">
    <div class="contenido-seccion">
        <h2>Contacto</h2>
        <div class="bloque">
            <div class="ubicacion">
                <span>
                    <i class="fa-solid fa-location-dot fa-bounce"></i><br><br>
                    {{persona.ciudad}}, {{persona.provincia}}, {{persona.pais}}
                </span>
            </div>
            <div class="mail">
                <span>
                    <i class="fa-regular fa-envelope fa-bounce"></i><br><br>
                    {{persona.mail}}
                </span>
            </div>
            <div class="social">
                <span>
                    <i class="fa-solid fa-hashtag fa-bounce"></i><br><br>
                    <a href="https://github.com/NataliaJuarez"><i class="fa-brands fa-github"></i></a>
                </span>
            </div>
        </div>
        <div class="formulario">    	
            <input type="text" placeholder="Nombre" required>
            <input type="text" placeholder="Apellido" required>
            <input type="email" placeholder="Email" required> 
            <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea> <!--cuando quito el padding que hace que no estén centrados los input y el textarea, el placeholder queda muy pegado al borde. Por mas que de espacio para que se vean bien, al escribir se ve pegado al borde. quizas funcione colocando dentro de un div toda esa parte-->
        </div>    
        <button>¡Enviar!</button>
    </div>
</section> 