.sobremi{
    padding: 50px;
}
.sobremi .contenido-sobremi{
    max-width: 1100px;
    margin: auto;
    background-color: rgba(24, 4, 39, 0.3);
    border-radius: 20px;
    padding: 15px;
}
.sobremi .contenido-sobremi h2{
    margin: 5px 0 15px;
}
.sobremi .contenido-sobremi p{
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    margin: 0 10px 15px;
}
.sobremi .contenido-sobremi p span{   
    color: #00ff4c;  
    font-family: 'Oooh baby';
    font-size: 25px;
    font-weight: bold;
}

@media (max-width: 550px) {
    .sobremi .contenido-sobremi p {
        font-size: 15px;
    }
}