header {
	background: #010314;
	position: fixed;
	width: 100%;
	z-index: 99;
	display: flex;
	justify-content: space-between;
	/*padding: 0; si aumento el valor corre el botón de login más a la derecha y si lo saco no modifica nada*/
}
header .logo img{
	margin: 5px 0;
	width: 100px;
    padding: 0 5px;
}
header .logo h5{   
	color: #ffff;
    font-family: 'arial';
	font-size: 12px;
	text-decoration: none;
    float: right;
    padding-top: 12px;
    position: relative;
}
/* header .logo h5 span{ NO FUNCIONA EL CODIGO EN HTML
    position: absolute;
    right: 0;
    width: 0;
    background: #010314;     /*para que tape las letras
    border-left: 1px solid #fff;
    
    animation: maquina 3s infinite alternate steps(12); /*crea la animacion
} */
/*@keyframes maquina {  NO ESTA FUNCIONANDO EL CODIGO EN HTML
     from {
        width: 100%;
    }
    to {
        width: 0;
    }
} */
