header {
	background: #010314;
	position: fixed;
	width: 100%;
	z-index: 99;
	display: flex;
	justify-content: space-between;
}
header .logo img{
	margin: 5px 0;
	width: 100px;
    padding: 0 5px;
}
header .logo h5{   
	color: #ffff;
    font-family: 'arial';
	font-size: 12px;
	text-decoration: none;
    float: right;
    padding-top: 12px;
    position: relative;
}

button {                  
    font-family: 'Century gothic';
    cursor: pointer; 
    background-color: transparent;
    padding-right: 20px;
    border: none;
    font-size: 16px;
    color: #fff;
    transition: .5s;
    font-size: 22px;
}
button:hover{      
        color: #00ff4c;
        text-decoration: blink;
        font-weight: bold; 
}

