button {                  
    font-family: 'Century gothic';
    cursor: pointer; 
    background-color: transparent;
    margin-top: 3px;
    padding: 7px 11px;
    border: none; /*1px transparent #fff;
    border-radius: 5px;     */
    font-size: 16px;
    color: #fff;
    transition: .5s;
}
button:hover{      /*le da el efecto al boton*/
        color: #00ff4c;
     /*   border-color: #00ff4c; */
        text-decoration: blink;
        font-weight: bold; 
}
