<section id="inicio" class="inicio">
    <div class="contenido-banner">
        <div class="contenedor-img">
            <img [src]="persona.fotoperfil" alt="imagen de perfil">
            <fa-icon [icon]="faPen" class="edit-img" (click)="onEdit()"></fa-icon>
        </div>
        <h1>{{persona.nombre}} {{persona.apellido}}
            <fa-icon [icon]="faPen" class="edit-info" (click)="onEdit()"></fa-icon>
        </h1>
        <h2>{{persona.profesion}}</h2>
    </div>	
</section>  

<!-- <a href="https://www.flaticon.es/iconos-gratis/usuario" title="usuario iconos">Usuario iconos creados por feen - Flaticon</a> -->