<section id="inicio" class="inicio">
    <div class="contenido-banner">
        <div class="contenedor-img">
            <img [src]="persona.fotoperfil" alt="imagen de perfil">
            <!-- <a href="https://www.flaticon.es/iconos-gratis/usuario" title="usuario iconos">Usuario iconos creados por feen - Flaticon</a> -->
        </div>
        <h1>{{persona.nombre}} {{persona.apellido}}</h1>
        <h2>{{persona.profesion}}</h2>
        <button type="button" routerLink="/edit/persona"> <!--agregar el *ngIf="isLogged"-->
            <fa-icon [icon]="faPenToSquare"></fa-icon>
            Editar perfil
        </button>
    </div>	
</section>  

