.proyectos{
    padding: 50px;
    margin: auto;    
}
.proyectos h2{
    font-size: 48px;
    font-family: 'Gruppo';
    text-align: center;
    padding: 20px 0;
}
.proyectos p {
    font-size: 18px;
}
.proyectos td{
    margin: auto;
    padding: 20px 35px 0 0; 
}
fa-icon{
    padding: 10px;
    float: right;
}


.card {
    background:  rgba(60, 51, 103, .1);
    color: #fff;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(4, 4, 39, .5) 10px 10px 40px 20px;
}
.card-title {
    padding-top: 10px;
    text-align: center;
}
p.card-text{
   padding: 18px;
   text-align: center;
}
.col ul li {
    list-style: none;
    display: inline-block;
}
/*

.proyectos .item {
    background-color: rgba(60, 51, 103, .1);
    margin: 20px;
    height: 400px;
    width: 450px;
    border-radius: 20px;
}

.proyectos .item h4 {
    text-align: center;
    padding-top: 15px ;
}

.proyectos .item .card {
    width: 440px;
    height: 150px;
    margin: auto;
    padding: 15px 0 25px;
    background-color: transparent;
}

.proyectos .item .card img{
    width: 440px;
    height: 250px;

} */