.proyectos {
    padding: 50px;
}

.contenido-seccion {
    max-width: 1300px;
    margin: auto;
    text-align: center;
}

.proyectos h2 {
    margin-bottom: 20px;
}

.proyectos img {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos ul li {
    list-style: none;
}

.proyectos-contenedor {
    padding-top: 10px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay h4 {
    margin-bottom: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.proyecto {
    position: relative;
}

.proyecto .card {
    background-color: transparent;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.overlay .iconos-contenedor {
    display: flex;
    font-size: 25px;
    text-align: center;
}

.overlay .iconos-contenedor .fa-github {
    padding: 0 5px;
}

.overlay .iconos-contenedor .fa-laptop {
    padding-left: 5px;
}

.overlay fa-icon {
    color: white;
    margin: 10px;
    transition: 0.2;
}

.overlay fa-icon:hover {
    color: #6664ff;
    font-size: 26px;
    text-decoration: blink;
}

.proyectos .edit-btn {
    margin-top: -10px;
}

.b-add {
    margin-top: 25px;
}

.small-divider {
    border: 2px dashed #080427;
    width: 100px;
    margin: 0 auto 20px;
    background-color: rgb(59, 79, 207);
}