<div class="form-container">
  <div class="add-form">
    <button type="button" class="close" routerLink="/portfolio"> <fa-icon [icon]="faXmark"></fa-icon> </button>
    <h2>Añade un nuevo item</h2>
    <form class="formu" novalidate #f="ngForm"> <!-- agregar [(ngModel)]="imagenproyecto" -->
      <!-- con *ngIf="showAddEducacion" no se ve el formulario -->

      <div class="form-item">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" placeholder="Añade el nombre del proyecto" required> <!-- agregar [(ngModel)]="nombre" -->
      </div>

      <div class="form-item">
        <label for="url-git">URL del repositorio en <fa-icon class="git" [icon]="faGithub"></fa-icon>:</label>
        <input type="text" name="url-git" id="url-git" placeholder="Añade el link del repositorio en GitHub" required>
      </div> <!-- añadir [(ngModel)]="url-git" cuando lo agregue en el back y en el modelo -->
      <div class="form-item">
        <label for="url">URL del proyecto:</label>
        <input type="text" name="url" id="url" placeholder="Añade el link del proyecto" >
        <!-- añadir [(ngModel)]="url" cuando lo agregue en el back y en el modelo -->
      </div>

      <div class="form-item">
        <div class="mb-3">
          <label for="imagenproyecto" class="form-label">Imagen del proyecto</label>
          <input class="form-control" type="file" name="imagenproyecto" id="imagenproyecto" required> <!-- agregar [(ngModel)]="imagenproyecto" --> 
        </div>
      </div>


      <button type="submit" class="save-btn">Guardar <fa-icon [icon]="faFloppyDisk"></fa-icon> </button>
    </form>
  </div>
</div>