<div class="add-form">	
    <button type="button" class="close" routerLink="/portfolio"> <fa-icon [icon]="faXmark"></fa-icon> </button>
	<h3>Añade un nuevo item</h3>
	<form 
	    class="form" 
	    (ngSubmit)="onSubmit()"
		novalidate #f="ngForm"
	    *ngIf="showAddEducacion"
	>

		<div class="formu">
		    <label for="titulo">Título:</label>
		    <input 
		        type="text" 
		        name="titulo" 
		        id="titulo" 
		        placeholder="Añade título obtenido o nombre del curso"
		        [(ngModel)]="titulo"
		    >
		</div>

		<div class="formu">
		    <label for="establecimiento">Establecimiento:</label>
		    <input 
		        type="text" 
		        name="establecimiento" 
		        id="establecimiento" 
		        placeholder="Añade el establecimiento"
		        [(ngModel)]="establecimiento"
		    >
		</div>

		<div class="formu">
			<p>Período:</p>
		    <div class="fila">
				<label for="anio1">Desde:</label>
				<input 
					type="text"  
					name="anio1" 
					id="anio1"
					[(ngModel)]="anio1"
					placeholder="Año de inicio"
				>
			</div>
			<div class="fila">
				<label for="anio2">Hasta:</label>
				<input 
					type="text"  
					name="anio2" 
					id="anio2"
					[(ngModel)]="anio2"
					placeholder="Año de finalización"
				>
			</div>
		</div>
    	<button type="submit" class="form-button">Guardar <fa-icon [icon]="faFloppyDisk"></fa-icon> </button>

		<div class="mb-3">
			<label for="exampleFormControlInput1" class="form-label">Email address</label>
			<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
		  </div>
		  <div class="mb-3">
			<label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
			<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
		  </div>

	</form>
</div>

<!--No se ve el contenido correctamente... 
	Inicialmente creé el html y css aparte y se veía bien, será porque se accese através de un botón? -->