.educacion{
    padding: 70px 50px 50px;
}
.educacion .contenido-seccion{
    max-width: 1500px;
    margin: auto;
    text-align: center;
    padding-bottom: 15px;
}

.educacion ul li {
    list-style: none;
}
.educacion ul li img {
    width: 120px;
    padding-bottom: 10px;
}
.educacion .item {
    background-color: rgba(60, 51, 103, .05);
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
}

.educacion li .col-md-4 {
    padding: 0 15px
}

.educacion ul li h4 {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
}
.educacion .contenido-seccion p {
    color: darkgray;
    font-size: 14px;
    margin-bottom: 10px;
}

.educacion .contenido-seccion p.fecha {
    font-size: 13px;
    margin-bottom: 0;
}