<section id="habilidades" class="habilidades">
    <div class="contenido-habilidades">
        <h2>Habilidades</h2>
        <div class="col">
            <div class="col-lg-12">
                <ul *ngFor="let skills of skillsList">
                    <li>
                        <h6>{{skills.nombre}}</h6>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label"
                                style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                {{skills.nivel}}</div>
                        </div>
                        <div>
                            <fa-icon [icon]="faTrash" (click)="onDelete()"></fa-icon>
                            <fa-icon [icon]="faPen" (click)="onEdit()"></fa-icon>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

