.habilidades {
    padding: 50px 80px;
    margin: auto;
}

.habilidades .contenido-seccion {
    max-width: 1400px;
    margin: auto;
}

.habilidades h2 {
    margin-bottom: 15px;
}

.habilidades h5 {
    margin: 15px 0 20px;
    text-align: center;
}

.habilidades ul li {
    margin-top: 7px;
}

.softskills fa-icon.i-check {
    color: rgb(59, 79, 207);
}

.habilidades .progress {
    margin-top: 2px;
    background-color: transparent;
    border: 1px solid rgb(59, 79, 207);
}

.progress .progress-bar {
    background-color: rgb(59, 79, 207);
    padding: 30px;
}

.habilidades ul li {
    list-style: none;
}

.habilidades .softskills .edit-btn {
    padding: 0 7px;
}

.b-add {
    margin-top: 20px;
}
