<section id="habilidades" class="habilidades">
    <div class="contenido-habilidades">
        <h2>Habilidades</h2>
        <div class="fila">
            <h4>FrontEnd</h4>
            <h6>HTML</h6>
            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Básico</div>
            </div>
            <h6>CSS</h6>
            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Básico</div>
            </div>
            <h6>Javascript</h6>
            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Básico</div>
            </div>
            <h6>Typescript</h6>
            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Básico</div>
            </div>
            <h6>Angular</h6>
            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Básico</div>
            </div>
            <h6>Bootstrap</h6>
            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Básico</div>
            </div>
        </div>
        <div class="fila">
            <h4>BackEnd</h4>
            <h6>Java / SpringBoot</h6>
            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Básico</div>
            </div>
            <h6>MySQL</h6>
            <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 33%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Básico</div>
            </div>
        </div>
        <div class="fila">
            <h4>Soft-Skills</h4>
            <ul>
                <li>
                    <i class="fa-regular fa-circle-check"></i>
                Colaboración</li>
                <li><i class="fa-regular fa-circle-check"></i>
                Adaptabilidad</li>
                <li><i class="fa-regular fa-circle-check"></i>
                Creatividad</li>
                <li></li>                   
            </ul>
            </div>
        </div>
</section>