@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Oooh+Baby&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
	font-family: 'Century Gothic', sans-serif;
	margin: 0;
    padding: 0;
}
main {
    color:#ffff;
}
h4, p {
    color: #d0d0d0;
}

.b-add {
    float: right;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 20px;
}