<section id="experiencia" class="experiencia">
    <div class="contenido-seccion">
       
        <h2>Experiencia</h2>
        <ul>
            <li>
                <h4>Trabajo 1</h4>
                <span class="lugar">Nombre de Compañía</span>
                <span class="fecha">2005 - 2008</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque repellat, tempora recusandae aliquam nemo esse natus impedit, nostrum temporibus veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>    
            </li>
            <li>
                <h4>Trabajo 2</h4>
                <span class="lugar">Nombre de Compañía</span>
                <span class="fecha">2005 - 2008</span>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis, cumque repellat, tempora recusandae aliquam nemo esse natus impedit, nostrum temporibus veritatis eaque soluta aperiam id repudiandae fugiat deserunt! Explicabo, veritatis?</p>
            </li>
        </ul>
    </div>
</section>